body {

    font-family: 'Poppins';
    max-width: 1280px;
    margin: 0 auto;
    background: rgb(251,188,215);
background: radial-gradient(circle, rgba(251,188,215,1) 0%, rgba(233,233,233,1) 64%);
color: #333333;
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(206, 26, 152);
    padding: 20px;
    font-size: 32px;
    color: rgb(206, 26, 152);
}

.chamada {
    background: rgb(255, 248, 251);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid pink;
    }

    .categoria h2 {
        color: rgb(206, 26, 152);
    }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
